h2{
  font-size: 40px
}

p {
  margin: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 30px;
}

.image{
  /* border-radius: 50%; */
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.resume{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}