* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }
  
  body {
    background-color: whitesmoke;
    font: 'Raleway';
  }

  nav {
    color: "black";
    font-size: 20px;
    padding: 10px;
    margin: 2px;
  }

 #title {
    font-size: 60px;
    padding: 40px
  }

  @media screen and (max-width: 950px){
    .title{
        font-size: 20px;
    }
    .ab h2{
      font-size: 20px;
    }
}